version: 0.1
log:
  level: info
  fields:
    service: registry
storage:
  s3:
    accesskey: {{ iam_user_access_key }}
    secretkey: {{ iam_user_secret_key }}
    region: {{ bucket_region }}
    bucket: {{ bucket_name }}
    secure: true
    chunksize: 6291456
    multipartcopychunksize: 8388608
    multipartcopymaxconcurrency: 100
    multipartcopythresholdsize: 33554432
  cache:
    layerinfo: redis
  maintenance:
    uploadpurging:
      enabled: false
  delete:
    enabled: true
redis:
  addr: $redis_host:$redis_port
  password: $redis_password
  db: $redis_db_index_reg
http:
  addr: :5000
  secret: placeholder
  debug:
    addr: localhost:5001
auth:
  token:
    issuer: harbor-token-issuer
    realm: $public_url/service/token
    rootcertbundle: /etc/registry/root.crt
    service: harbor-registry
notifications:
  endpoints:
  - name: harbor
    disabled: false
    url: $ui_url/service/notifications
    timeout: 3000ms
    threshold: 5
    backoff: 1s
