[bastion]
registry.taletoul.com

[bastion:vars]
ansible_user= centos

[registry]
{{ registry_IP }}

[registry:vars]
ansible_ssh_common_args='-o ProxyCommand="ssh -W %h:%p -q centos@{{ groups['bastion'][0] }}"'
ansible_user= centos
harbor_path = /opt/harbor
installer_package = harbor-offline-installer-v1.6.1.tgz

[local]
localhost   ansible_connection=local
