Host 172.20.*.*
        IdentityFile /home/tale/Descargas/tale_toul-keypair-ireland.pem
        ProxyCommand ssh centos@{{ groups['bastion'][0] }} -W %h:%p 

Host {{ groups['bastion'][0] }}
        IdentityFile /home/tale/Descargas/tale_toul-keypair-ireland.pem
