Host 172.20.*.*
        IdentityFile /home/tale/Descargas/tale_toul-keypair-ireland.pem
        ProxyCommand ssh centos@{{ bastion_name }} -W %h:%p 

Host {{ bastion_name }}
        IdentityFile /home/tale/Descargas/tale_toul-keypair-ireland.pem
